<!--
@bot-written

WARNING AND NOTICE
Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
Full Software Licence as accepted by you before being granted access to this source code and other materials,
the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
access, download, storage, and/or use of this source code.

BOT WARNING
This file is bot-written.
Any changes out side of "protected regions" will be lost next time the bot makes any changes.
-->

<!-- % protected region % [Add any additional HTML structure before the main body here] off begin -->
<!-- % protected region % [Add any additional HTML structure before the main body here] end -->
<section class="crud-component">
	<!-- % protected region % [Customise your header] off begin -->
	<h2>Lesson Form Tile</h2>
	<!-- % protected region % [Customise your header] end -->
	<ng-container *ngIf="singlePageComponent; then noRoutingMode else routingMode ">
	</ng-container>
</section>

<!-- View to show when turn singlePageComponent off -->
<ng-template #routingMode>
	<!-- % protected region % [Override the default routingMode template here] off begin -->
	<router-outlet></router-outlet>
	<!-- % protected region % [Override the default routingMode template here] end -->
</ng-template>

<!-- View to show when turn singlePageComponent on -->
<!-- % protected region % [Override the default single page template here] off begin -->
<ng-template #noRoutingMode>
	<ng-container *ngIf="tileMode == CrudTileMode.List; then collectionView else editView">
	</ng-container>
</ng-template>

<ng-template #collectionView>
	<cb-lesson-form-tile-admin-crud-list 
			[singlePageComponent]="singlePageComponent"
			(tileModeChange)="onTileModeChange($event)">
	</cb-lesson-form-tile-admin-crud-list>
</ng-template>

<ng-template #editView>
	<cb-lesson-form-tile-admin-crud-edit
		[singlePageComponent]="true"
		[tileMode]="tileMode"
		[targetModelId]="targetModelId"
		(tileModeChange)="onTileModeChange($event)">
	</cb-lesson-form-tile-admin-crud-edit>
</ng-template>
<!-- % protected region % [Override the default single page template here] end -->

<!-- % protected region % [Add any additional HTML structure after the main body here] off begin -->
<!-- % protected region % [Add any additional HTML structure after the main body here] end -->
