/*
 * @bot-written
 *
 * WARNING AND NOTICE
 * Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
 * Full Software Licence as accepted by you before being granted access to this source code and other materials,
 * the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
 * commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
 * licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
 * including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
 * access, download, storage, and/or use of this source code.
 *
 * BOT WARNING
 * This file is bot-written.
 * Any changes out side of "protected regions" will be lost next time the bot makes any changes.
 */
/* --------------------------------
Navigation
-------------------------------- */
/*
Styling for basic navigation, vertical navigation and horizontal navigation.
*/

.nav {
	background-color: $admin-color-brand-03;
	display: flex;
	z-index: 10;

	ul {
		width: 100%;
		margin-bottom: 0;

		li {
			display: flex;
			flex-direction: column;
			list-style: none;
			position: relative;

			//This is for sublinks
			&.nav__parent-link--active {
				background-color: $admin-color-secondary;

				a {
					color: $admin-white;
				}
			}

			a {
				color: rgba($admin-color-primary, 0.7);
				text-decoration: none;
				padding: $admin-space-xxs;
				display: block;
				cursor: pointer;
				transition: none;
				border-bottom: none;
			}

			span {
				white-space: nowrap;
			}

			&:hover,
			&:focus,
			&:active,
			&.active {
				background-color: $admin-grey-10;
				@include transform-timing($admin-animation-time);

				a {
					color: $admin-white;
					@include transform-timing($admin-animation-time);
				}

				//This is for sublinks
				ul li a {
					color: $admin-white;
					transition: none;
				}
			}

			@import 'sublinks-navigation.scss';
		}
	}
}

.nav--vertical {
	background-color: $admin-color-brand-03;
	overflow: auto;
	flex-direction: column;
	left: 0;
	grid-area: navvertical;
	height: 100%;
	box-shadow: convert-rem(-2px) convert-rem(4px) convert-rem(7px) convert-rem(-1px);

	>ul {
		margin: 0;
		padding: 0;

		>li {
			display: block;

			&:hover,
			&:active,
			&:focus,
			&.active {
				color: $admin-white;
			}

			//position of sublinks for vertical nav
			.nav__sublinks {
				left: 100%;
				top: 0;
				max-width: convert-rem(0px);
				width: 0;
				max-height: 70vh;
				overflow: auto;
				@include cubic-bezier-ease-in(max-width, $admin-animation-time);

				li {
					border-bottom: convert-rem(1px) solid $admin-white;
				}
			}

			.nav__sublinks--visible {
				max-width: convert-rem(9999px);
				width: auto;
				min-width: convert-rem(120px);

				span {
					width: 100%;
				}
			}
		}
	}

}



.nav--horizontal {
	flex-direction: row;
	width: 100%;
	grid-area: navhorizontal;

	ul {
		display: flex;
		width: auto;
		margin-top: 0;

		li {

			//position of sublinks for horizontal nav
			.nav__sublinks {
				top: calc(100% + (#{2rem}*0.4));
				left: 0;
				flex-direction: column;
				max-height: 0;
				height: 0;
				@include cubic-bezier-ease-in(max-height, $admin-animation-time);

				li {
					border-bottom: none;
				}
			}

			.nav__sublinks--visible {
				max-height: convert-rem(9999px);
				height: auto;

				span {
					max-height: convert-rem(9999px);
					height: auto;
				}
			}
		}
	}
}


/*Tabs*/

.tabs {
	margin-bottom: $admin-space-xl;
	font-size: $admin-text-md;

	ul {
		padding-left: unset;
		display: flex;
		flex-direction: row;
		list-style: none;

		li {
			cursor: pointer;

			&.disabled {
				cursor: not-allowed;
			}

			&:not(:last-child) {
				margin-right: $admin-space-md;
			}

			a {
				color: $admin-color-primary;
				text-decoration: none;
			}
		}
	}

	.active {
		@include text-shadow($admin-color-primary);

		a {
			border-bottom: convert-rem(2px) solid;
		}
	}
}

/*Breadcrumbs*/
.breadcrumbs {
	padding-left: unset;
	display: flex;
	flex-direction: row;
	list-style: none;
	align-items: center;

	li {
		&.disabled {
			cursor: not-allowed;
		}

		&:not(:last-child) {
			margin-right: $admin-space-sm;
		}

		&:before {
			vertical-align: middle;
		}

		a {
			color: $admin-color-primary;
			text-decoration: none;
			cursor: pointer;
		}
	}
}


/************ MOBILE NAVIGATION ***********/


@include media(xs, sm, md) {

	//Horizontal mobile responsive
	.nav--horizontal {
		z-index: 10;

		ul li {
			padding: $admin-space-xs;
			font-size: $admin-text-md;
		}

		>a {
			grid-area: collapse;
			text-align: center;
			padding: $admin-space-xxs;
			width: 100%;
			z-index: 10;
			margin: 0;
			font-size: $admin-text-lg;
			visibility: visible;

			&:before {
				margin-right: 0 !important;
			}

			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
				border: none;
			}
		}
	}

	.nav--horizontal.nav--expanded {
		display: grid;
		grid-template-areas: 'collapse'
			'ul';
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr;
		position: absolute;
		bottom: 0;

		ul:nth-of-type(2) {
			grid-area: ul;
			display: flex;
			flex-wrap: wrap;

			// min-height: 40vh;
			max-height: convert-rem(3000px);
			height: auto;
			overflow: hidden;
			@include heightScaleIn(2s);

			li {
				width: 50%;
				border-right: none;
				border-bottom: convert-rem(4px) solid $admin-grey-0;

				&:nth-of-type(even) {
					border-left: convert-rem(2px) solid $admin-grey-0;
				}

				&:nth-of-type(odd) {
					border-right: convert-rem(2px) solid $admin-grey-0;
				}

				a {
					overflow-wrap: break-word;
					text-align: center;

					span {
						white-space: pre-wrap;
					}

					&:before {
						display: block;
						margin-bottom: $admin-space-xs;
						font-size: $admin-text-lg;
					}
				}
			}
		}

		ul:last-of-type {
			li {
				width: 100%;

				a {
					text-align: center;
					font-size: $admin-text-md;

					&:before {
						margin-right: $admin-space-sm;
					}
				}
			}
		}

		>a {
			background-color: $admin-grey-0;
		}
	}

	.nav--horizontal.nav--collapsed {
		justify-content: center;

		ul {
			max-height: 0;
			width: 0;
			overflow: hidden;
		}

		ul:nth-of-type(2) {
			@include heightScaleIn($admin-quick-animation-time);
		}
	}


	//Vertical mobile responsive
	.nav--vertical {
		position: absolute;
	}

	.nav--vertical.nav--expanded {
		height: 100%;
		width: auto;
		border-radius: 0;
		margin: 0;
		@include slideInLeft($admin-animation-time);

		>ul {
			>li {
				>.nav__sublinks {
					max-height: unset;
					max-width: 0;
					height: 100vh;
					top: 0;
					min-width: 0;

					&--visible {
						width: 100%;
						max-width: 300000px;
						@include slideInLeft($admin-animation-time);
					}
				}
			}
		}
	}

	.nav--vertical.nav--collapsed {
		@include slideOutLeft($admin-animation-time);
		background-color: transparent;
		box-shadow: none;

		ul {
			max-height: 0;
			width: 0;
			overflow: hidden;
		}

		>a {
			display: flex;
			align-items: center;
			justify-content: center;
			height: convert-rem(55px);
			width: convert-rem(55px);
			border-radius: 50%;
			box-shadow: convert-rem(0px) convert-rem(0px) convert-rem(5px) convert-rem(-2px);
			background-color: $admin-white;
			@include slideInLeft($admin-quick-animation-time);
		}
	}
}