<!--
@bot-written

WARNING AND NOTICE
Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
Full Software Licence as accepted by you before being granted access to this source code and other materials,
the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
access, download, storage, and/or use of this source code.

BOT WARNING
This file is bot-written.
Any changes out side of "protected regions" will be lost next time the bot makes any changes.
-->
<!-- % protected region % [Add any initial HTML structure here] off begin -->
<!-- % protected region % [Add any initial HTML structure here] end -->
<section class='workflow-behaviour workflow-behaviour__landing'>
	<div class='behaviour-header'>
		<h2>Workflows</h2>
		<button cb-button
				[iconPos]="IconPosition.RIGHT"
				[buttonAccentColour]="buttonAccentColour.SECONDARY"
				[buttonSize]="buttonSize.SMALL"
				[iconName]="'help'">Help Documentation
		</button>
	</div>
	<p>Behaviour description here</p>
	<section class='workflow-block-items'>
		<a [routerLink]="['./create']">
			<div class='workflow-item__new icon-plus icon-bottom'>
				<h3>New Workflow</h3>
			</div>
		</a>
		<a *ngFor="let workflow of workflowModelVersions | async"
		   [routerLink]="['edit', workflow.id]"
		   [attr.data-id]="workflow.id">
			<div class='workflow-item'>
				<div class='workflow-item__heading'>
					<h3>{{ workflow.workflowName }}</h3>
					<p>Entities: {{ getAssociatedEntities(workflow) }}
					<p>
				</div>
				<div class='workflow-item__footer'>
					<div class='workflow-item__version'>
						<p class="version__active">1</p>
					</div>
					<button cb-button [iconName]="'more-horizontal'"></button>
				</div>
			</div>
		</a>
	</section>
</section>
<!-- % protected region % [Add any final HTML structure here] off begin -->
<!-- % protected region % [Add any final HTML structure here] end -->
