<!--
@bot-written

WARNING AND NOTICE
Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
Full Software Licence as accepted by you before being granted access to this source code and other materials,
the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
access, download, storage, and/or use of this source code.

BOT WARNING
This file is bot-written.
Any changes out side of "protected regions" will be lost next time the bot makes any changes.
-->
<!-- % protected region % [Add any additional HTML structure here] off begin -->
<!-- % protected region % [Add any additional HTML structure here] end -->
<ng-container *ngIf="formMode == 'build'">
	<ng-container [ngSwitch]="sideMenuMode">
		<div *ngSwitchCase="'slide-view'" class="slide-builder__list slide-builder__list--view-slide">
			<section *ngFor="let slideData of slidesData" cb-accordion [class.active]="receiver.isExpanded">
				<button cb-button
								[iconName]="'chevron-up'"
								[iconPos]="IconPosition.RIGHT"
								[buttonStyle]="ButtonStyle.NONE"
								[buttonSize]="ButtonSize.NONE"
								(click)="slideData.questionsData.length > 0 && receiver.toggleExpansion()">{{ slideData.data.name }}</button>
				<div cb-context-menu>
					<ul>
						<li><button cb-button (click)="onEditSlide(slideData)">Edit</button></li>
						<li><button cb-button (click)="onDuplicateSlide(slideData)">Duplicate</button></li>
						<li><button cb-button (click)="onDeleteSlide(slideData)">Delete</button></li>
					</ul>
				</div>
				<div cb-accordion-info #receiver=cb-accordion-info>
					<ol>
						<li *ngFor="let questionData of slideData.questionsData">{{ questionData.questionContent }}</li>
					</ol>
				</div>
			</section>
			<button cb-button
							(click)="onNewSlide()"
							[iconName]="'plus'"
							[iconPos]="IconPosition.LEFT"
							[buttonStyle]="ButtonStyle.TEXT"
							[buttonSize]="ButtonSize.NONE">Add a new slide</button>
		</div>
		<!-- SIDEBAR FOR SLIDE -->
		<section *ngSwitchCase="'slide-edit'"
						 cb-form-slide-builder-slide-edit-sidebar
						 class="slide-builder__list slide-builder__list--edit-slide"
						 [slide]="currentSlide"
						 (close)="currentSlide = null; sideMenuMode = 'slide-view'">
		</section>
		<!-- SIDEBAR FOR QUESTION -->
		<section *ngSwitchCase="'question-edit'" cb-form-slide-builder-question-sidebar
						 [question]="currentQuestion"
						 [questionTypeSubject] = "questionTypeSubject"
						 (close)="currentQuestion = null; sideMenuMode = 'slide-view'"
						 aria-label='forms-properties'
						 class='slide-builder__list slide-builder__list--edit-question'>
		</section>
	</ng-container>
</ng-container>
<section cb-form-builder
		[slidesData]="slidesData"
		[formMode]="formMode"
		(editQuestion)="onEditQuestion($event)">
</section>