/*
 * @bot-written
 *
 * WARNING AND NOTICE
 * Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
 * Full Software Licence as accepted by you before being granted access to this source code and other materials,
 * the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
 * commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
 * licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
 * including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
 * access, download, storage, and/or use of this source code.
 *
 * BOT WARNING
 * This file is bot-written.
 * Any changes out side of "protected regions" will be lost next time the bot makes any changes.
 */
/* --------------------------------
Header
-------------------------------- */
/*
Generic header element styling
*/

header {
	display: flex;

	img {
		width: auto;
		height: 7rem;
	}

	border-bottom: convert-rem(4px) solid rgba($admin-color-brand-02, 0.5);
	margin-bottom: $admin-space-lg;
}

.behaviour-header {
	display: flex;
	align-items: center;

	@include media(xs, sm, md) {
		flex-wrap: wrap;
	}

	h2 {
		font-size: $admin-text-xxxl;
		font-weight: $admin-text-bold;
		margin: 0 $admin-space-lg 0 0;

		@include media(xs, sm, md) {
			font-size: $admin-text-xl;
		}
	}

	//specific help doc style
	.btn {
		@include help-doc-btn;
	}
}

//Header that is on the create section any behaviour with tabs on the right on create/view/edit
.header-bar {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	box-shadow: convert-rem(0px) convert-rem(-1px) convert-rem(5px) convert-rem(0px) $admin-grey-2;
	padding: 0 $admin-space-md;
	height: $header-bar-height;

	//MOBILE STYLING
	@include media(xs, sm, md, lg) {
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		ul {
			margin: $admin-space-xxs;
		}
	}

	.tabs {
		margin-bottom: 0;

		ul {
			li {
				a {
					font-size: $admin-text-md;
				}
			}
		}
	}
}