/*
 * @bot-written
 *
 * WARNING AND NOTICE
 * Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
 * Full Software Licence as accepted by you before being granted access to this source code and other materials,
 * the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
 * commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
 * licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
 * including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
 * access, download, storage, and/or use of this source code.
 *
 * BOT WARNING
 * This file is bot-written.
 * Any changes out side of "protected regions" will be lost next time the bot makes any changes.
 */

h1#heading-817887b3-a5da-41c9-9ced-85b1ba647843 {
	// % protected region % [Add styles for heading with id 817887b3-a5da-41c9-9ced-85b1ba647843 here] off begin
	// % protected region % [Add styles for heading with id 817887b3-a5da-41c9-9ced-85b1ba647843 here] end
}
// No Scss Selectors are written for Custom Components
// To add selectors based on your custom code, use the protected regions available in this file
cb-course-crud#crud-7e119399-98f0-48e9-ace0-bad95a6c5c3e {
	// % protected region % [Add styles for Crud Component with id 7e119399-98f0-48e9-ace0-bad95a6c5c3e here] off begin
	// % protected region % [Add styles for Crud Component with id 7e119399-98f0-48e9-ace0-bad95a6c5c3e here] end
}
// No Scss Selectors are written for Custom Components
// To add selectors based on your custom code, use the protected regions available in this file
cb-course-category-crud#crud-d70dead4-576c-4812-8cfb-4519765d80ad {
	// % protected region % [Add styles for Crud Component with id d70dead4-576c-4812-8cfb-4519765d80ad here] off begin
	// % protected region % [Add styles for Crud Component with id d70dead4-576c-4812-8cfb-4519765d80ad here] end
}
// % protected region % [Add any additional SCSS structure here] off begin
// % protected region % [Add any additional SCSS structure here] end