<!--
@bot-written

WARNING AND NOTICE
Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
Full Software Licence as accepted by you before being granted access to this source code and other materials,
the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
access, download, storage, and/or use of this source code.

BOT WARNING
This file is bot-written.
Any changes out side of "protected regions" will be lost next time the bot makes any changes.
-->

<h1 id="heading-817887b3-a5da-41c9-9ced-85b1ba647843">
	Courses
</h1>
<!-- % protected region % [Add code for a4d7f477-e45a-489c-ae7a-245808260876 here] off begin -->
<!-- % protected region % [Add code for a4d7f477-e45a-489c-ae7a-245808260876 here] end -->

<!-- % protected region % [Modify the configuration for crud component with id 7e119399-98f0-48e9-ace0-bad95a6c5c3e here] off begin -->
<cb-course-crud
	[singlePageComponent]="true"
	id="crud-7e119399-98f0-48e9-ace0-bad95a6c5c3e">
<!-- % protected region % [Modify the configuration for crud component with id 7e119399-98f0-48e9-ace0-bad95a6c5c3e here] end -->
</cb-course-crud>
<!-- % protected region % [Add code for 93d028c4-371e-47f1-b0d4-74717dc2ac14 here] off begin -->
<!-- % protected region % [Add code for 93d028c4-371e-47f1-b0d4-74717dc2ac14 here] end -->

<!-- % protected region % [Modify the configuration for crud component with id d70dead4-576c-4812-8cfb-4519765d80ad here] off begin -->
<cb-course-category-crud
	[singlePageComponent]="true"
	id="crud-d70dead4-576c-4812-8cfb-4519765d80ad">
<!-- % protected region % [Modify the configuration for crud component with id d70dead4-576c-4812-8cfb-4519765d80ad here] end -->
</cb-course-category-crud>

<!-- % protected region % [Add any additional HTML structure here] off begin -->
<!-- % protected region % [Add any additional HTML structure here] end -->