<!--
@bot-written

WARNING AND NOTICE
Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
Full Software Licence as accepted by you before being granted access to this source code and other materials,
the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
access, download, storage, and/or use of this source code.

BOT WARNING
This file is bot-written.
Any changes out side of "protected regions" will be lost next time the bot makes any changes.
-->

<h1 id="heading-cbabcaed-9e3d-4a88-b3dc-c0c39cf0b832">
	Article Editor
</h1>
<!-- % protected region % [Add code for 6995cc59-b2d6-49c3-b609-71d164da4e37 here] off begin -->
<!-- % protected region % [Add code for 6995cc59-b2d6-49c3-b609-71d164da4e37 here] end -->

<!-- % protected region % [Modify the configuration for crud component with id 3f7e3171-347a-4bbe-890f-2a1ee352b14a here] off begin -->
<cb-article-crud
	[singlePageComponent]="true"
	id="crud-3f7e3171-347a-4bbe-890f-2a1ee352b14a">
<!-- % protected region % [Modify the configuration for crud component with id 3f7e3171-347a-4bbe-890f-2a1ee352b14a here] end -->
</cb-article-crud>
<!-- % protected region % [Add code for 77120387-f096-4af4-a1fe-b933c6e05755 here] off begin -->
<!-- % protected region % [Add code for 77120387-f096-4af4-a1fe-b933c6e05755 here] end -->

<!-- % protected region % [Modify the configuration for crud component with id bcab8141-a284-44b2-a8a6-14f59cc22cba here] off begin -->
<cb-book-crud
	[singlePageComponent]="true"
	id="crud-bcab8141-a284-44b2-a8a6-14f59cc22cba">
<!-- % protected region % [Modify the configuration for crud component with id bcab8141-a284-44b2-a8a6-14f59cc22cba here] end -->
</cb-book-crud>

<!-- % protected region % [Add any additional HTML structure here] off begin -->
<!-- % protected region % [Add any additional HTML structure here] end -->