<!--
@bot-written

WARNING AND NOTICE
Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
Full Software Licence as accepted by you before being granted access to this source code and other materials,
the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
access, download, storage, and/or use of this source code.

BOT WARNING
This file is bot-written.
Any changes out side of "protected regions" will be lost next time the bot makes any changes.
-->
<!-- % protected region % [Add any additional html before main body here] off begin -->
<!-- % protected region % [Add any additional html before main body here] end -->

<ng-container [formGroup]="workflowForm">
	<div class="workflow__display" *ngFor="let workflowDisplayOption of workflowDisplayOptions">
		<h4>{{ workflowDisplayOption.workflowVersion.workflowName }} Workflow</h4>
		<ng-container *ngIf="workflowDisplayOption.currentState else noStateText">
			<cb-dropdown
				[formControlName]="workflowDisplayOption.workflowVersion.workflowName"
				[id]="'workflow-'+ workflowDisplayOption.workflowVersion.id + '-next-states'"
				[placeholder]="'Current State: ' + workflowDisplayOption.currentState.stepName"
				[labelField]="'stepName'"
				[valueField]="'id'"
				[options$]="workflowDisplayOption.nextStates$"
				[label]="'Next States'">
			</cb-dropdown>
		</ng-container>
	</div>
</ng-container>
<ng-template #noStateText>
	<p class="text--notice">
		No states available, please contact administrator
	</p>
</ng-template>

<!-- % protected region % [Add any additional html after main body here] off begin -->
<!-- % protected region % [Add any additional html after main body here] end -->