<!--
@bot-written

WARNING AND NOTICE
Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
Full Software Licence as accepted by you before being granted access to this source code and other materials,
the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
access, download, storage, and/or use of this source code.

BOT WARNING
This file is bot-written.
Any changes out side of "protected regions" will be lost next time the bot makes any changes.
-->

<!-- % protected region % [Override the textfield template here] off begin -->
<ng-container *ngIf="isDisplaying">
	<label *ngIf="isLabelVisible" for="{{ fieldId }}" [attr.aria-describedby]="tooltipId">{{ label }}</label>
	<div *ngIf="tooltip && isLabelVisible" class="tooltip icon-tooltip" id="{{ tooltipId }}">
		<span class="tooltip__content">{{ tooltip }}</span>
	</div>
	<ng-container *ngIf="type !== TextfieldType.PASSWORD else passwordInput">
		<input [type]="type"
			   id="{{ fieldId }}"
			   [value]="value ? value : null"
			   (input)="textFieldInputChange($event)"
			   (keyup)="onKeyUp()"
			   [disabled]="isDisabled"
			   [required]="isRequired"
			   [readOnly]="isReadOnly"
			   [placeholder]="placeholder"
			   [attr.aria-label]="isLabelVisible ? null : label"
			   [name]="name">
		<div *ngIf="validationErrors && dirty" class="input-group__error-text">
			<p cb-input-errorMessage
			   *ngFor="let error of validationErrors | keyvalue;"
			   [errorType]="error.key"
			   [errorValue]="error.value"
			   [name]="name">
			</p>
		</div>
	</ng-container>
</ng-container>

<ng-template #passwordInput>
	<input [type]="type"
		   id="{{ fieldId }}"
		   [value]="value ? value : null"
		   (input)="textFieldInputChange($event)"
		   (keyup)="onKeyUp()"
		   [disabled]="isDisabled"
		   [required]="isRequired"
		   [readOnly]="isReadOnly"
		   [placeholder]="placeholder"
		   [attr.aria-label]="isLabelVisible ? null : label"
		   [name]="name" />
	<password-strength-meter *ngIf="showPasswordStrengthMeter" [password]="value"></password-strength-meter>
	<div *ngIf="validationErrors && dirty" class="input-group__error-text">
		<p cb-input-errorMessage
		   *ngFor="let error of validationErrors | keyvalue;"
		   [errorType]="error.key"
		   [errorValue]="error.value"
		   [name]="name">
		</p>
	</div>
</ng-template>
<!-- % protected region % [Override the textfield template here] end -->
